<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wau.css') }}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Dosis' rel='stylesheet' type='text/css'>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
 <script src="{{ url_for('static', filename='js/webapp.js') }}"></script>

</head>

<body>

<div id="wrapper">
	<div id="stream">
	<div id="head">
		<img src="{{ url_for('static', filename='img/logo.png') }}" class="logo"> <div id="logo-text">WAU </div>
	</div>
	<div id="search">
		<form id="search-form">
				<input name="search" id="search-field" type="search" required placeholder="Search Tags & Locations" 
					onfocus="if(this.value == 'Search Tags & Locations') { this.value = ''; 
					this.style.color = '#692231';}" spellcheck="false" >

				<button type="submit"  id="submit-button">
					<img src="{{ url_for('static', filename='img/search.png') }}" alt="Search" class="search-image">
				</button>

			</form>
	</div>




	</div>
	<div id="map"> </div>
	
</div>


</body>

</html>
