<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wau.css') }}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Dosis' rel='stylesheet' type='text/css'>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
 

</head>

<body>

<div id="wrapper">
	<h1>World Around Us</h1>

	<div id="template-border"></div>
		<img src="http://wau.mybluemix.net/img/{{ uuid }}">


	</div>
	<div id="template-infos">
		
	</div> 
	
	
</div>


</body>

</html>
