<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/wau.css') }}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Dosis' rel='stylesheet' type='text/css'>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
 

</head>

<body>

<div id="wrapper">
	<div class="headline">
		<img src="{{ url_for('static', filename='img/logo.png') }}"  class="logo logo-template"> <div id="headline">WAU </div>
	</div>

<div>
	<div id="template-border">
		<img src="http://wau.mybluemix.net/img/{{ uuid }}">
		</div>

	</div>
	<div id="template-infos">
		Share on: <br>
		<img src="{{ url_for('static', filename='img/facebook.png') }}" class="social-icon">
		<img src="{{ url_for('static', filename='img/twitter.png') }}" class="social-icon">
		<img src="{{ url_for('static', filename='img/pinterest.png') }}" class="social-icon">
		<img src="{{ url_for('static', filename='img/linkedin.png') }}" class="social-icon">
	</div> 
	</div>
	
</div>


</body>

</html>
